<md-content style="display: block; top: 64px;" class="home-container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img style="width: 85% ; min-width: 724px; height: 360px;" src="https://themify.me/demo/themes/music/files/2014/07/rock-guitar.jpg"><span class="carousel-text c-right">{{'SIGNUP_TOGETHER_CONTENT' | translate}}</span></div>
        <div class="swiper-slide"><img style="width: 85% ; min-width: 724px; height: 360px;" src="https://musicimage.xboxlive.com/image/spotlight.c6ca2600-0000-0000-0000-000000000002?ss=2000:1000"><span class="carousel-text c-left">{{ 'SIGNUP_CREATE_CONTENT' | translate }}</span></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <div style="padding-left: 10px;">
    <h2>{{ 'HOME_POPULAR_SONG' | translate }}</h2>
    <hr style="color: #e6e6e6">
    <creation-list creations="vm.creations"></creation-list>
  </div>

  <div style="padding-left: 10px; margin-bottom: 200px;">
    <h2>{{ 'HOME_ARTISTS' | translate }}</h2>
    <div layout="row">
      <span ui-sref="profile({idUser: artist._id})" layout="column" ng-repeat="artist in vm.users" layout-align="center center" style="padding-right: 10px; cursor: pointer;">
      <img ng-src="{{artist.picture}}" style="height: 100px; width: 100px;">
        <div>{{artist.name}}</div>
        
      </span>
      
    </div>
  


  </div>
</md-content>