<md-content layout="column" layout-align="start center" ng-style="{ 'background-image': 'url(' + vm.loginpic + ')', 'height': '100%' }">
	<img ng-src="{{vm.logo.orphee}}" class="login-logo">
  <span layout="column" layout-align="center center" class="login-blur-container">
    <div class="login-title">{{ 'LOGIN_CONNECT' | translate }}</div>
    <md-toolbar class="login-bar-container-social">
      <div layout="row" class="md-toolbar-tools md-whiteframe-z3" >
        <md-icon ng-click="vm.loginSocial('facebook')" md-svg-src="{{vm.logo.fb}}"></md-icon>
        <md-icon ng-click="vm.loginSocial('google')" md-svg-src="{{vm.logo.google}}"></md-icon>        
      </div>
    </md-toolbar>
    
    <md-content class="md-whiteframe-z3 login-frame">
    <form ng-submit="vm.submit()" class="login-form" layout="column" layout-align="center center">
      <div class="login-divider">
        <hr class="divider-left">{{ 'OR' | translate }}<hr class="divider-right">
      </div>
      <md-input-container ng-if="vm.loginError" class="login-error">
        <span layout="row"><i class="material-icons">warning</i>{{ 'LOGIN_ERROR' | translate }}</span>  
      </md-input-container>
      <div layout="row">
        <md-icon class="md-primary login-icon"><i class="material-icons md-36">person</i></md-icon>
        <md-input-container layout="row" class="login-input-container">
          <label>{{ 'LOGIN_EMAIL' | translate }}</label>
          <input type="text" ng-model="vm.credentials.login">
        </md-input-container>
      </div>
      <div layout="row" class="login-pass-container">
        <md-icon class="md-primary login-icon"><i class="material-icons md-36">enhanced_encryption</i></md-icon>
        <md-input-container layout="row" class="login-input-container">
          <label>{{ 'LOGIN_PASSWORD' | translate }}</label>
          <input type="password" ng-model="vm.credentials.password">
        </md-input-container>
      </div>
      <md-button type="submit" class="md-primary md-raised login-button">{{ 'LOGIN_CONTINUE' | translate }}</md-button>
    </form>
    <a ui-sref="signup" layout="row" layout-align="center center" class="login-link-container">
      {{ 'LOGIN_NEW' | translate }}?&nbsp
      <span class="login-link">{{ 'SIGN_UP' | translate }}</span>
    </a>
  </md-content>
  </span>
</md-content>