<md-content layout="column" layout-align="center center" ng-style="{ 'background-image': 'url(' + vm.loginpic + ')', 'height': '100%' }">
	<form ng-submit="vm.submit()" layout="column">
		<md-input-container>
			<input type="text" ng-model="vm.credentials.login" placeholder="login">
		</md-input-container>
		<md-input-container>
			<input type="text" ng-model="vm.credentials.password" placeholder="password">
		</md-input-container>
		<md-button type="submit" class="md-primary md-raised">
				Se connecter
		</md-button>
	</form>
</md-content>