.login-logo
  height: 300px
  width: 300px 
  margin-top: 50px
  margin-bottom: 25px

.login-blur-container
  width: 500px
  height: 650px
  background-color: rgba(0,0,0, 0.2)

.login-title
  color: white
  font-size: 28px

.login-bar-container-social
  width: 300px
  position: relative
  top: 25px

.login-frame
	border-radius 15px
	max-width 400px
	width 100%
	.login-error
		color: red

.login-form
  padding-top 15px
  padding-bottom 40px

.login-divider
  padding-top: 40px
  padding-bottom: 20px
  width: 370px
  text-align: center
  opacity: 0.5
  hr
    width: 40%
  .divider-left
    float: left
  .divider-right
    float: right

.login-icon
  padding-right: 15px

.login-input-container
  width: 270px

.login-pass-container
  padding-bottom: 25px

.login-button
  text-transform: none
  font-size: 18px
  width: 300px

.login-link-container
  color: #878797
  background-color: #f5f5f5
  width: 100%
  height: 100%
  border-top: 1px solid #ddd
  padding-bottom: 25px
  padding-top: 25px
  font-size: 18px
  text-decoration: none;
  .login-link
    text-decoration: underline
    color: #03a9f4