<md-toolbar style="position: fixed;">
  <div class="md-toolbar-tools">
    <a layout="row" layout-align="center center" ui-sref="home">
      <img ng-src="{{vm.logo.orphee}}" style="height: 50px; width: 50px;">
      <div style="color: white">Orphée</div>
    </a>
    <span flex></span>
    <a ng-if="!vm.isLog()" ui-sref="login" style="color: white">Se connecter</a>
    <md-menu md-offset="0 60" ng-if="vm.isLog()">
      <div layout="row" layout-align="center center" ng-click="$mdOpenMenu($event)" style="cursor: pointer;">
        <img md-menu-origin class="header-user-picture" ng-src="{{vm.user.picture}}">{{vm.user.name}}
      </div>
      
      <md-menu-content width="3">
        <md-menu-item md-menu-align-target ng-click="vm.logout()"><div>Se déconnecter</div></md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>