<md-toolbar>
  <div class="md-toolbar-tools">
    Orphée
    <span flex></span>
    <a ng-if="!vm.isLog()" ui-sref="login">Se connecter</a>
    <md-menu md-offset="0 60" ng-if="vm.isLog()">
      <div layout="row" layout-align="center center" ng-click="$mdOpenMenu($event)">
        <img md-menu-origin class="header-user-picture" ng-src="{{vm.user.picture}}">{{vm.user.name}}
      </div>
      
      <md-menu-content width="3">
        <md-menu-item md-menu-align-target ng-click="vm.logout()">Se déconnecter</md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
