<div ng-show="vm.showNav()" style="height: 516px;">
  <md-sidenav class="md-sidenav-left md-whiteframe-z3" md-is-locked-open="$mdMedia('gt-md')" style="height: auto; display: block;position: fixed;top: 64px; z-index: 1">
     <!--<md-toolbar class="md-primary"> 
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>-->
      <md-content layout="column" layout-align="start center" style="background-color: rgb(242, 242, 242); height: 100%">
        <form ng-submit="vm.search()" layout="row" layout-align=""> 
          <input type="text" placeholder="Rechercher" style="width: 85%; margin-top: 25px; height: 40px; padding-left: 20px;"></input>
          <md-button class="md-icon-button" type="submit" style="height: 40px; margin-top: 25px;"><i class="material-icons">search</i></md-button>
        </form>
        <md-button class="md-primary" ng-href="#/" style="width: 100%; font-size: 20px; text-transform: none; padding-left: 55px;">
          <span layout="row" layout-align="start center"><i class="material-icons" style="padding-right: 10px;">explore</i>Explorer</span>
        </md-button>
        <md-button ng-if="vm.isLog()" class="md-primary" ng-href="#/chat" style="width: 100%; font-size: 20px; text-transform: none; padding-left: 55px;">
          <span layout="row" layout-align="start center"><i class="material-icons" style="padding-right: 10px;">people</i>Friends</span>
        </md-button>
        <md-divider style="width: 85%"></md-divider>
        <md-button class="md-primary" style="width: 100%; font-size: 20px; text-transform: none; padding-left: 55px;">
          <span layout="row" layout-align="start center"><i class="material-icons" style="padding-right: 10px;">playlist_add</i>Nouvelle playlist</span>
        </md-button>
      </md-content>

  </md-sidenav>
</div>