<div ng-show="vm.showNav()" style="height: 516px;">
  <md-sidenav class="md-sidenav-left md-whiteframe-z3" md-is-locked-open="$mdMedia('gt-md')" style="height: auto; display: block;position: fixed;top: 64px; z-index: 1">
     <!--<md-toolbar class="md-primary"> 
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>-->
      <md-content layout="column" layout-align="start center" style="background-color: rgb(242, 242, 242); height: 100%">
        haha
        {{vm.toto}}
      </md-content>

  </md-sidenav>
</div>